@define-color color_primary #C85050;

.palaura-window {
    background-color: @color_primary;
    color: #111;
}

.palaura-window-dark {
    background-color: shade(@color_primary, 1.4);
    color: #FFF;
}

.palaura-view {
    background-color: #FFF;
    color: #111;
}

.palaura-view image {
    color: #111;
}

.palaura-view:selected {
    background-color: @accent_color_500;
    color: #FFF;
}

.palaura-view-dark {
    background-color: #2E3436;
    color: #FFF;
}

.palaura-view-dark image {
    color: #FFF;
}

.palaura-view-dark:selected {
    background-color: @accent_color_500;
    color: #FFF;
}

.palaura-toolbar {
    background: shade(@color_primary, 1.1);
}

.palaura-recents,
.palaura-recents treeview.view {
    background: @base_color;
}

.palaura-recents {
    border-right: 1px solid alpha(black, 0.25);
}
