@define-color accent #C85050;

window.unified decoration,
window.unified decoration-overlay {
  border-radius: 8px;
}

.palaura-window {
    background-color: @base_color;
    color: #111;
}

.palaura-window-dark {
    background-color: @base_color;
    color: #FFF;
}

.palaura-view {
    background-color: #FFF;
    color: #111;
}

.palaura-view image {
    color: #111;
}

.palaura-view:selected {
    background-color: @accent;
    color: #FFF;
}

.palaura-view-dark {
    background-color: #2E3436;
    color: #FFF;
}

.palaura-view-dark image {
    color: #FFF;
}

.palaura-view-dark:selected {
    background-color: @accent;
    color: #FFF;
}

.palaura-toolbar {
    background: @background_color;
    box-shadow: none;
    border-bottom: 1px solid alpha(black, 0.25);
}

.palaura-recents,
.palaura-recents list,
.palaura-recents treeview.view {
    background: mix (@accent, @base_color, 0.95);
}

.palaura-recents list row {
    background: mix (@accent, @base_color, 0.95);
    padding: 0;
    margin: 0;
}

.palaura-recents {
    border-right: 1px solid alpha(black, 0.25);
    box-shadow: none;
}
