@define-color accent #C85050;
@define-color accent_color_500 #C85050;

window.unified decoration,
window.unified decoration-overlay {
  border-radius: 8px;
}

.title {
    font-weight: 700;
}

.palaura-window {
    background-color: @base_color;
    color: #111;
}

.palaura-window-dark {
    background-color: @base_color;
    color: #FFF;
}

.palaura-view {
    background-color: #F7F7F7;
    color: #111;
}

.palaura-view textview.view {
    background-color: #F7F7F7;
    color: #111;
}

.palaura-view image {
    color: #111;
}

.palaura-view:selected {
    background-color: @accent;
    color: #FFF;
}

.palaura-view-dark {
    background-color: #151515;
    color: #FFF;
}

.palaura-view-dark textview.view {
    background-color: #151515;
    color: #FFF;
}

.palaura-view-dark image {
    color: #FFF;
}

.palaura-view-dark:selected {
    background-color: @accent;
    color: #FFF;
}

.palaura-toolbar {
    background: @background_color;
    box-shadow: none;
    margin: 7px;
    border-bottom: 1px solid alpha(black, 0.25);
}

.palaura-toolbar-dark {
    background: #000;
    box-shadow: none;
    border-bottom: 1px solid alpha(black, 0.25);
}

.palaura-toolbar entry {
    border-radius: 8px;
    box-shadow: none;
    background: shade(@color_primary, 1.2);
}

.palaura-toolbar .back-button {
    border-radius: 8px;
    box-shadow: none;
    border: none;
    background: shade(@color_primary, 1.2);
}

.palaura-toolbar .back-button:hover {
    background: shade(@base_color, 0.95);
}

.palaura-toolbar .image-button image {
    padding: 0 6px;
}

.palaura-toolbar .image-button:hover {
    background: shade(@base_color, 0.95);
}

.palaura-toolbar .image-button:active,
.palaura-toolbar .image-button.toggle:checked {
    background: shade(@base_color, 0.95);
}

.palaura-recents,
.palaura-recents list,
.palaura-recents treeview.view {
    background: mix (@accent, @content_view_bg, 0.95);
}

.palaura-recents list row {
    background: mix (@accent, @content_view_bg, 0.95);
    color: @fg_color;
    padding: 2px;
    margin: 2px 6px;
    border-radius: 8px;
}

.palaura-recents list row:hover {
    background: shade(mix (@accent, @content_view_bg, 0.95), 0.88);
    color: @fg_color;
    padding: 2px;
    margin: 2px 6px;
    border-radius: 8px;
}

.palaura-recents {
    border-right: 1px solid alpha(black, 0.25);
    box-shadow: none;
}
